mat-card {
    box-shadow: 0 2px 1px -1px #0003, 0 1px 1px #00000024, 0 1px 3px #0000001f;
    background-color: lightgray;
    margin: 10px;
    height: 200px;
    padding: 5px;

    mat-card-header {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 10px;
        padding: 0;
        height: 60%;
    }

    mat-card-content {
        .text {
            position: relative;
            font-size: 14px;
            color: black;
            width: 250px;
            /* Could be anything you like. */
        }

        .text-concat {
            position: relative;
            display: inline-block;
            word-wrap: break-word;
            overflow: hidden;
            max-height: 3.6em;
            /* (Number of lines you want visible) * (line-height) */
            line-height: 1.2em;
            text-align: justify;
        }

        .text.ellipsis::after {
            content: "...";
            position: absolute;
            right: -12px;
            bottom: 4px;
        }
    }
}

.count {
    display: flex;
    align-items: center;
}